
<article>
  <h2>Stock table</h2>
  <table mat-table [dataSource]="dataSource" matSort class="table responsive-table">
    <!-- Loop through columns to display them dynamically -->
    <!-- displayedColumns is a variable declared in the TS file -->
    <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>
        <!-- If the column is not the isEdit column we display the header -->
        <span *ngIf="col !== 'isEdit'">
          {{col}}
        </span>
      </th>
      <!-- Loop through the elements of each column -->
      <td mat-cell *matCellDef="let element">
        <!-- If isEdit is false we do this -->
        <div [ngSwitch]="dataSchema[col]" *ngIf="!element.isEdit">
          <!-- content of isEdit column (toggle the isEdit prop) -->
          <div class="btn-edit" *ngSwitchCase="'isEdit'" >
            <button  class="edit-button" mat-button (click)="openDialog()">Edit</button>
          </div>
          <!-- content of data column -->
          <span *ngSwitchDefault>
            {{element[col]}}
          </span>
        </div>
        <!-- If isEdit is true we do this -->
        <div [ngSwitch]="col" *ngIf="element.isEdit">
          <!-- content of isEdit column (toggle the isEdit prop) -->
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button (click)="element.isEdit = !element.isEdit">Done</button>
          </div>
          <!-- If column is editable we replace content by a form with field -->
          <!-- Here we do switch on each element to be able to apply controller to them-->
          <form [formGroup]="this.itemForm">
            <mat-form-field *ngSwitchCase="'quantity'" appearance="outline">
              <mat-label>{{col}}</mat-label>
              <input [type]="dataSchema[col]" matInput [(ngModel)]="element[col]" [formControl]="quantityControl" required>
              <mat-error *ngIf="quantityControl.invalid">{{getQuantityErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'name'" appearance="outline">
              <mat-label>{{col}}</mat-label>
              <input [type]="dataSchema[col]" matInput [(ngModel)]="element[col]" [formControl]="nameControl" required>
              <mat-error *ngIf="nameControl.invalid">{{getNameErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'status'" appearance="outline">
              <mat-label>{{col}}</mat-label>
              <input [type]="dataSchema[col]" matInput [(ngModel)]="element[col]" [formControl]="statusControl" required>
              <mat-error *ngIf="statusControl.invalid">{{getStatusErrorMessage()}}</mat-error>
            </mat-form-field>
          </form>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</article>

