@import url("../table/table.component.scss");

.shared_color {
    background-color: gold
}

.in_color {
    background-color: rgb(117, 225, 117);
}

.sold_color {
    background-color: rgb(254, 69, 69);
} 