<section>Share</section>
<aside>
  <h2>Share or sell an item</h2>
  <form [formGroup]="this.itemForm">
    <div>
      <h4>Which item do you want to use?</h4>
      <mat-form-field appearance="outline">
        <mat-label>Select the item</mat-label>
        <mat-select required formControlName="titleCtrl">
            <mat-option *ngFor="let item of this.data" [value]="item">
              {{item.name + " (" + item.quantity + ")"}}
            </mat-option>
          </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="this.step > 0">
      <h4>To sell or share?</h4>
      <mat-form-field appearance="outline">
        <mat-label>Select option</mat-label>
        <mat-select required formControlName="statusCtrl">
          <mat-option *ngFor="let status of this.statusList" [value]="status">
            {{status}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <div *ngIf="this.step > 1">
      <h4>In what amount?</h4>
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput type="number" min=1 max={{this.max}} required formControlName="amountCtrl">
      </mat-form-field>
    </div>
    
    <div *ngIf="this.step > 2">
      <h4>Select the date of the transaction</h4>
      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateCtrl">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-raised-button (click)="onReset()">Reset</button>
        <button mat-raised-button (click)="onSubmit()"
          [disabled]="this.itemForm.invalid">Ok</button>
      </div>
  </form>
</aside>
