section {
    float: left;
    width: 65%;
}

aside {
    float: right;
    width: 30%;
}

mat-form-field {
    width: 100%;
    margin-bottom: 10px;
}

.table-wrapper {
    overflow:auto;
}

button:hover {
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    background-color: #00bf70;
    color: white;
    transform: translateY(-5px);
}

.page-header {
    color: #43557b;
}

table.mat-table {
    border-collapse: separate;
    width: 100%;
    background: white;
    overflow: hidden;
    margin-top: 2%;
}

.mat-table {
    background-color: transparent !important;
    border: solid 1px #00bf71;
}

table {
    width: 100%;
    border-radius: 10px;
}

table tr:last-child td {
    border-bottom: 0 solid;
}

.table td {
    border: none;
}

td.mat-cell {
    padding: 13px;
    color: #43557b;
    font-size: large;
    vertical-align: middle;
    text-align: center;
}

:host ::ng-deep thead {
    background-color: #00bf71;
}

:host ::ng-deep .mat-header-cell {
    vertical-align: middle;
    color: white;
    text-transform: uppercase;
    font-size: x-large;
    padding: 1%;
}

.page-header {
    color: #43557b;
}

:host ::ng-deep .mat-sort-header-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    letter-spacing: normal;
    outline: 0;
    justify-content: center;
}

.element-label {
    display: none;
}


@media(max-width: 1000px) {

    th.mat-header-cell:first-of-type,
    td.mat-cell:first-of-type,
    td.mat-footer-cell:first-of-type {
        padding-left: 13px;
    }

    .element-label {
        width: 90px;
        display: inline-block;
        font-weight: bold;
        text-align: left;
    }

    .element-value {
        padding-left: 25px;
    }

    .mat-header-row {
        display: none;
    }

    .mat-row {
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: stretch;
        justify-items: start;
        display: grid;

        td:last-of-type {
            border-bottom: 0.15rem solid #43557b;
            width: 100%;
        }
    }

    section {
        float: bottom;
        width: 100%;
    }
    
    aside {
        float: top;
        width: 100%;
        margin-bottom: 15px
    }
}

.edit-button:hover {
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    background-color: #00bf71;
    color: white;
    transform: translateY(-5px);
}

.insert-button {
    position: relative;
    float: right;
    margin: -28px -28px 10px 0px;
    background-color: #00bf71;
    color: white;
}

.reset-button {
    margin-right: 10px;
}
