<h1 mat-dialog-title>Edit an item</h1>
<div mat-dialog-content>
  <form [formGroup]="this.itemForm">
      <mat-form-field>
          <mat-label>Name of the item</mat-label>
          <input matInput required formControlName="titleCtrl">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput type="number" min=1 required formControlName="amountCtrl">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onInsert()"
    [disabled]="this.itemForm.invalid">Ok</button>
</div>


<form [formGroup]="this.itemForm">
    <mat-form-field *ngSwitchCase="'quantity'" appearance="outline">
      <mat-label>{{col}}</mat-label>
      <input [type]="dataSchema[col]" matInput [(ngModel)]="element[col]" [formControl]="quantityControl" required>
      <mat-error *ngIf="quantityControl.invalid">{{getQuantityErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field *ngSwitchCase="'name'" appearance="outline">
      <mat-label>{{col}}</mat-label>
      <input [type]="dataSchema[col]" matInput [(ngModel)]="element[col]" [formControl]="nameControl" required>
      <mat-error *ngIf="nameControl.invalid">{{getNameErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field *ngSwitchCase="'status'" appearance="outline">
      <mat-label>{{col}}</mat-label>
      <input [type]="dataSchema[col]" matInput [(ngModel)]="element[col]" [formControl]="statusControl" required>
      <mat-error *ngIf="statusControl.invalid">{{getStatusErrorMessage()}}</mat-error>
    </mat-form-field>
  </form>