.sidenav {
    height: 100%;
    position: relative;
    background: #eee;
}

mat-sidenav-content {
    background: white;
    padding: 3%;
}

mat-sidenav {
    width: auto;
    background: #f0faf7;
    padding: 30px;
    min-width: 200px;
}

.page-title {
    color: #43557b;
    font-size: xx-large;
}

.name {
    color: #3d9f42;
}

.page-name {
    color: #b0b8c8;
}
