<mat-sidenav-container class="sidenav">
    <mat-sidenav mode="side" [opened]="this.isShowing">
        <app-side-menu></app-side-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <button (click)="toggleSideNav()" class="menu-button">
            <div *ngIf="this.isShowing">
                <mat-icon>chevron_left</mat-icon>
            </div>
            <div *ngIf="!this.isShowing">
                <mat-icon>chevron_right</mat-icon>
            </div>
        </button>
        <h1 class="page-title">Welcome to <b class="name">Easy Stock</b></h1>
        <app-table></app-table>
    </mat-sidenav-content>
</mat-sidenav-container>
  
<router-outlet></router-outlet>