.sidenav {
    height: 100%;
    position: relative;
    background: #eee;
}

mat-sidenav-content {
    background: white;
    padding: 40px 3% 3% 3%;
}

mat-sidenav {
    width: auto;
    background: #f0faf7;
    padding: 30px;
    min-width: 200px;
}

.page-title {
    color: #43557b;
    font-size: xx-large;
}

.name {
    color: #00bf71;
}

.page-name {
    color: #b0b8c8;
}

.menu-button {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f0faf7;
    border-top: none;
    border-right: solid 1px rgba(0, 0, 0, 0.12);
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
    border-left: none;
    color: black;
}

.menu-label {
    font-size: 1.1em;
    color: #43557b;
}

.menu {
    margin-top: 20%
}

.menu-list {
    font-size: 1.1em;
}