<mat-sidenav-container class="sidenav">
    <mat-sidenav mode="side" [opened]="this.isShowing">
        <figure class="image is-2by1">
            <img src="assets/images/logo.PNG">
        </figure>
        <aside class="menu">
            <p class="menu-label">
              General
            </p>
            <ul class="menu-list">
                <li>
                    <a>
                        <span class="icon-text">
                            <span class="icon sub-title">
                                <i class="fas fa-home"></i>
                            </span>
                            <span class="sub-title">Home</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="icon-text">
                            <span class="icon sub-title">
                                <i class="fas fa-history"></i>
                            </span>
                            <span class="sub-title">History</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="icon-text">
                            <span class="icon sub-title">
                                <i class="far fa-handshake"></i>
                            </span>
                            <span class="sub-title">Share / Sell</span>
                        </span>
                    </a>
                </li>
            </ul>
            <p class="menu-label">
              Administration
            </p>
            <ul class="menu-list">
                <li>
                    <a>
                        <span class="icon-text">
                            <span class="icon sub-title">
                                <i class="fas fa-user-alt"></i>
                            </span>
                            <span class="sub-title">Profile</span>
                        </span>
                    </a>
                </li>
            </ul>
        </aside>
    </mat-sidenav>
    <mat-sidenav-content>
        <button (click)="toggleSideNav()" class="menu-button">
            <div *ngIf="this.isShowing">
                <mat-icon>chevron_left</mat-icon>
            </div>
            <div *ngIf="!this.isShowing">
                <mat-icon>chevron_right</mat-icon>
            </div>
        </button>
        <h1 class="page-title">Welcome to <b class="name">Easy Stock</b></h1>
        <app-table></app-table>
    </mat-sidenav-content>
</mat-sidenav-container>
  
<router-outlet></router-outlet>