.sidenav {
    height: 100%;
    position: relative;
    background: #eee;
}

mat-sidenav-content {
    background: white;
    padding: 3%;
}

mat-sidenav {
    width: auto;
    background: #f0faf7;
    padding: 30px;

    min-width: 200px;
}

body{
    width:100%;
    overflow: hidden;
    overflow-x:hidden;
    overflow-y:hidden;
}