
<figure class="image is-2by1">
    <img src="assets/images/logo.PNG">
</figure>
<aside class="menu">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
        <li>
            <a>
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <span>Home</span>
                </span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-history"></i>
                    </span>
                    <span>History</span>
                </span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon-text">
                    <span class="icon">
                        <i class="far fa-handshake"></i>
                    </span>
                    <span>Share / Sell</span>
                </span>
            </a>
        </li>
    </ul>
    <p class="menu-label">
      Administration
    </p>
    <ul class="menu-list">
        <li>
            <a>
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-user-alt"></i>
                    </span>
                    <span>Profile</span>
                </span>
            </a>
        </li>
    </ul>
</aside>